@keyframes fade-slide-animation {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-moz-keyframes fade-slide-animation {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fade-slide-animation {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fade-slide-up {
  opacity: 0;
  transform: translateY(50%);

  animation: 1s ease-out 500ms 1 fade-slide-animation;
  -moz-animation: 1s ease-out 500ms 1 fade-slide-animation;
  -webkit-animation: 1s ease-out 500ms 1 fade-slide-animation;

  animation-fill-mode: forwards;
}

.fade-slide-down {
  opacity: 0;
  transform: translateY(-50%);

  animation: 1s ease-out 500ms 1 fade-slide-animation;
  -moz-animation: 1s ease-out 500ms 1 fade-slide-animation;
  -webkit-animation: 1s ease-out 500ms 1 fade-slide-animation;

  animation-fill-mode: forwards;
}
