{% extends "pfhome/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'pfhome/css/about.css' %}">
<link rel="stylesheet" href="{% static 'pfhome/css/anim.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"> 
<script src="{% static 'pfhome/js/burger.js' %}"></script>
{% endblock head %}

{% block body %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4" href="/" style="transition: 250ms;">
      &lambda; PureFunctor
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="socials">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="socials" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-size-5-mobile" href="/blog" style="transition: 250ms;">
	<span class="icon">
	  <i class="far fa-bookmark"></i>
	</span>
	<span>Blog</span>
      </a>
      <a class="navbar-item is-size-5-mobile" href="https://github.com/PureFunctor" style="transition: background-color 250ms;">
	<span class="icon">
	  <i class="fab fa-github"></i>
	</span>
	<span>GitHub</span>
      </a>
    </div>
  </div>
</nav>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <h1 class="is-size-1 has-text-centered fade-slide-up">About</h1>
  </div>
</section>

<section class="section">
  <div class="container has-text-left fade-slide-up" id="introduction">

    <h1 class="is-size-3">
      Greetings, I'm PureFunctor.
    </h1>
    <hr/>
    <p>
      I'm a 17-year-old student programmer from the Philippines who's very
      passionate about computer science and programming languages, especially
      functional programming. Currently, I'm learning web development as a hobby,
      while also looking into developing my skills in various backend and frontend
      technologies.
      <br/><br/>
      I'm part of the staff on the <a href="https://pythondiscord.com">Python Discord</a>,
      a Discord community with over 60,000 members focused around the Python programming
      language, helping new and experienced developers alike.
    </p>
    <br/>

    <h1 class="is-size-3">
      Languages & Technologies
    </h1>
    <hr/>
    <div class="content">
      <ul>
	<li>Python</li>
	<li>Haskell</li>
    	<li>Django</li>
	<li>Git/GitHub</li>
      </ul>
    </div>

    <h1 class="is-size-3">
      Currently Learning
    </h1>
    <hr/>
    <div class="content">
      <ul>
	<li>JavaScript/TypeScript/PureScript</li>
	<li>Rust</li>
      </ul>
    </div>

    <h1 class="is-size-3">
      Projects
    </h1>
    <hr/>
    <div class="content">
      <ul>
	<li>Listing Soon!</li>
      </ul>
    </div>

    <h1 class="is-size-3">
      Socials
    </h1>
    <hr/>
    <div class="content">
      <ul>
	<li>Email: <a href="mailto:justin@purefunctor.me">justin@purefunctor.me</a></li>
	<li>Discord: PureFunctor#5339</li>
	<li>GitHub: <a href="https://github.com/PureFunctor">github.com/PureFunctor</a></li>
	<li>Twitter: <a href="https://twitter.com/PureFunctor">@PureFunctor</a></li>
      </ul>
    </div>

  </div>
</section>
{% endblock body %}
