{% extends "pfhome/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'pfhome/css/about.css' %}">
<script src="{% static 'pfhome/js/burger.js' %}"></script>
{% endblock head %}

{% block body %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4" href="/" style="transition: 250ms;">
      PureFunctor
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="socials">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="socials" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-size-5-mobile" href="/blog" style="transition: 250ms;">
	<span class="icon">
	  <i class="far fa-bookmark"></i>
	</span>
	<span>Blog</span>
      </a>
      <a class="navbar-item is-size-5-mobile" href="https://github.com/PureFunctor" style="transition: background-color 250ms;">
	<span class="icon">
	  <i class="fab fa-github"></i>
	</span>
	<span>GitHub</span>
      </a>
    </div>
  </div>
</nav>
<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="is-size-1 has-text-centered">About</h1>
  </div>
</section>
<section class="section">
  <div class="container" id="introduction">
    <h1 class="is-size-3">
      Greetings!
    </h1>
    <hr/>
  </section>
</section>
{% endblock body %}
