{% extends "pfhome/base.html" %}
{% block body %}
<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container is-fluid">
      <h1 class="has-text-light is-size-1-tablet is-size-2-mobile has-text-centered">
	PureFunctor
      </h1>
      <!-- Desktop View -->
      <div class="buttons has-addons is-centered are-medium is-hidden-touch">
	<a class="button is-light is-outlined" style="transition: background-color 250ms;" href="about/">
	  <span class="icon">
	    <i class="fas fa-info-circle"></i>
	  </span>
	  <span>About Me</span>
	</a>
	<a class="button is-light is-outlined" style="transition: background-color 250ms;" href="blog/">
	  <span class="icon">
	    <i class="far fa-bookmark"></i>
	  </span>
	  <span>My Blog</span>
	</a>
	<a class="button is-light is-outlined" style="transition: background-color 250ms;" href="https://github.com/PureFunctor">
	  <span class="icon">
	    <i class="fab fa-github"></i>
	  </span>
	  <span>GitHub</span>
	</a>
      </div>
      <!-- Mobile View -->
      <div class="buttons is-centered are-medium is-hidden-desktop">
	<a class="button is-light is-outlined is-fullwidth" style="transition: background-color 250ms;" href="about/">
	  <span class="icon">
	    <i class="fas fa-info-circle"></i>
	  </span>
	  <span>About Me</span>
	</a>
	<a class="button is-light is-outlined is-fullwidth" style="transition: background-color 250ms;" href="blog/">
	  <span class="icon">
	    <i class="far fa-bookmark"></i>
	  </span>
	  <span>My Blog</span>
	</a>
	<a class="button is-light is-outlined is-fullwidth" style="transition: background-color 250ms;" href="https://github.com/PureFunctor">
	  <span class="icon">
	    <i class="fab fa-github"></i>
	  </span>
	  <span>GitHub</span>
	</a>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
