{% extends "pfhome/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'pfhome/css/anim.css' %}">
<link rel="stylesheet" href="{% static 'pfhome/css/home.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"> 
{% endblock head %}

{% block body %}
<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body">
    <div class="container is-fluid fade-slide-up">
      <h1 class="has-text-light is-size-1-tablet is-size-3-mobile has-text-centered">
	&lambda; PureFunctor
      </h1>
      <!-- Desktop View -->
      <div class="buttons has-addons is-centered are-medium is-hidden-mobile">
	<a class="button is-light is-outlined" style="transition: background-color 250ms;" href="about/">
	  <span class="icon">
	    <i class="fas fa-info-circle"></i>
	  </span>
	  <span>About Me</span>
	</a>
	<a class="button is-light is-outlined" style="transition: background-color 250ms;" href="blog/">
	  <span class="icon">
	    <i class="far fa-bookmark"></i>
	  </span>
	  <span>My Blog</span>
	</a>
	<a class="button is-light is-outlined" style="transition: background-color 250ms;" href="https://github.com/PureFunctor">
	  <span class="icon">
	    <i class="fab fa-github"></i>
	  </span>
	  <span>GitHub</span>
	</a>
      </div>
      <!-- Mobile View -->
      <div class="buttons is-centered are-medium is-hidden-tablet">
	<a class="button is-light is-outlined is-fullwidth" style="transition: background-color 250ms;" href="about/">
	  <span class="icon">
	    <i class="fas fa-info-circle"></i>
	  </span>
	  <span>About Me</span>
	</a>
	<a class="button is-light is-outlined is-fullwidth" style="transition: background-color 250ms;" href="blog/">
	  <span class="icon">
	    <i class="far fa-bookmark"></i>
	  </span>
	  <span>My Blog</span>
	</a>
	<a class="button is-light is-outlined is-fullwidth" style="transition: background-color 250ms;" href="https://github.com/PureFunctor">
	  <span class="icon">
	    <i class="fab fa-github"></i>
	  </span>
	  <span>GitHub</span>
	</a>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
